@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './variables.css';

*{
    box-sizing: border-box;
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}

/*
-------------------------------------------------------------------------------
HEADER
-------------------------------------------------------------------------------
*/

body{
    background-color: var(--grisclaro);
}

header{
    background-color: var(--amarillo);
    margin: 0;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.div__logo{
    width: 50%;
}

.logo{
    width: 75%;
    margin-left: 10%;
}

.busqueda{
    width: 50%;
    position: relative;
}

.busqueda .barra{
    padding-left: 2px;
    border-radius: 6px;
    height: 35px;
    border: 1px solid var(--grisclaro);
} 

.busqueda .boton{
    width: 12%;
    top: 10px;
    right: 18px;
    background-color: white;
    border: none;
    position: absolute;
    color: var(--grisoscuro);
}


.barra{
    display: block;
    width: 45vw;
}

#compra{
    text-align: center;
    margin: 0 auto;
}

.navbar{
    list-style-type: none;
    padding-inline-start: 0vw;
    display: none;
}

#navbar2{
    padding-top: 25px;
}
#navbar2 li{
    padding-left: 0px;
    margin: 0;
}

.navbar li a i{
    margin-left: 2vw;
}

header nav ul li a{
    text-decoration: none;
    color: var(--azul);
}

.burger-menu{
    height: 50px;
    width: 50px;
    margin-left: 45%;
    text-align: center;
    color: white;
    border-radius: 15%;
    background-color: var(--celeste);
    margin-top: 5%;
    font-size: 25px;
}

#lineas{
    margin-top: 23%;
}

img{
    width: 100%;
    padding-top: 8px;
}
/*
-------------------------------------------------------------------------------
HEADER
-------------------------------------------------------------------------------
*/
.banner{
    padding: 0;
}

/*
-------------------------------------------------------------------------------
MAIN
-------------------------------------------------------------------------------
*/

main{
    position: center;
    width: 90%;
    margin: 0 auto;
}

main section article{
    margin: 10px 0;
}

main section{
    display: flex;
    flex-direction: column;
}

.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
    color: green;
}

.titular{
    font-size: 24px;
    color: var(--grisoscuro);
    margin: 10px 0;
}

main section article{
    background-color: white;
    
    
}


main section article .info{
    border: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    color: #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;;
}


main section article div .nombre{
    margin-top: 8%;
    color: var(--grisoscuro);
    display: none;
}

main section article div .datos{
    display: flex;
    flex-direction: row;
    width: 50%;
}

main section article div .datos .descuento{
    margin-top: 1px;
    margin-left: 5px;
}



/*
-------------------------------------------------------------------------------
MAIN
-------------------------------------------------------------------------------
*/
/*
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
*/

footer{
    background-color: white;
}

#iconsfooter{
    margin: 20% auto 10px 45%;
    color: var(--celeste);
    font-size: 2em;
}

footer section h4{
    text-align: center;
}

.descrip{
    text-align: center;
    font-size: 16px;
}

.copyright{
    margin-top: 5%;
    font-size: 12px;
    color: var(--grisoscuro);
    padding-bottom: 5%;
    background-color: white;
    margin-left: 5%;
}



/*
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
*/


@media(min-width:361px){


    .div__logo{
        width: 33.3%;
    }

    .div__logo .logo{
        width: 100%;
        margin-left: 0%;
    }

    header .busqueda{
        width: 33.3%;
    }

    header #compra{
        width: 33.3%;
    }

    .busqueda .barra{
        height: 20px;
        width: 80%;
    }

    .busqueda .boton{
        background-color: var(--grisclaro);
        border: 1px solid var(--grisoscuro);
        top: 2px;
        right: 9px;
    }

    

    header{
        height: 405px;
    }

    body header .navegacion{
        width: 100%;
        display: flex;
        flex: row;
        justify-content: space-between;
    }

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
    }

    #navbar2{
        padding-top: 0;
    }

    .burger-menu{
        display: none;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section article div .nombre{
        display: block;
    }

    main section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    main section article{
        width: 40%;
    }







}

@media(min-width:769px){

    main section article{
        width: 20%;
    }

}
