@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './variables.css';

*{
    box-sizing: border-box;
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}

/*
-------------------------------------------------------------------------------
HEADER
-------------------------------------------------------------------------------
*/

body{
    background-color: var(--grisclaro);
}

header{
    background-color: var(--amarillo);
    margin: 0;
    height: 250px;
}

.logo{
    width: 35vw;
    margin-top: 6vh;
    margin-left: 10vw;
}

.busqueda{
    padding-left: 6vw;
}

.barra{
    display: block;
    width: 45vw;
}

#compra{
    text-align: center;
}

.navbar{
    list-style-type: none;
    padding-inline-start: 0vw;
    display: none;
}

#navbar2{
    padding-top: 25px;
}
#navbar2 li{
    padding-left: 0px;
    margin: 0;
}

.navbar li a i{
    margin-left: 2vw;
}

header nav ul li a{
    text-decoration: none;
    color: var(--azul);
}

.burger-menu{
    height: 50px;
    width: 50px;
    margin-left: 45%;
    text-align: center;
    color: white;
    border-radius: 15%;
    background-color: var(--celeste);
    margin-top: 5%;
}

#lineas{
    margin-top: 30%;
}

img{
    width: 100%;
    padding-top: 8px;
}
/*
-------------------------------------------------------------------------------
HEADER
-------------------------------------------------------------------------------
*/
.banner{
    margin-top: 2%;
}

/*
-------------------------------------------------------------------------------
MAIN
-------------------------------------------------------------------------------
*/

main{
    position: center;
    width: 90%;
    margin: 0 auto;
}

main section article{
    margin: 10px 0;
}

main section{
    display: flex;
    flex-direction: column;
}

.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
    color: green;
}

.titular{
    font-size: 24px;
    color: var(--grisoscuro);
    margin: 10px 0;
}

main section article{
    background-color: white;
}


main section article .info{
    border: solid 1px #ebebeb;
    padding: 15px;
}

main section article .info div{
    position: relative;
    margin: 2%;
    border-radius: 50%;
    border: solid 1px green;
    width: 40px;
    height: 40px;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section article div .nombre{
    margin-top: 8%;
    color: var(--grisoscuro);
    display: none;
}






/*
-------------------------------------------------------------------------------
MAIN
-------------------------------------------------------------------------------
*/
/*
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
*/

footer{
    background-color: white;
}

#iconsfooter{
    margin: 20% auto 10px 45%;
    color: var(--celeste);
    font-size: 2em;
}

footer section h4{
    text-align: center;
}

.descrip{
    text-align: center;
    font-size: 16px;
}

.copyright{
    margin-top: 5%;
    font-size: 12px;
    color: var(--grisoscuro);
    padding-bottom: 5%;
    background-color: white;
    margin-left: 5%;
}



/*
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
*/


@media(min-width:361px){

    header{
        height: 405px;
    }

    .navbar{
        display: block;
    }

    .burger-menu{
        display: none;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section article div .nombre{
        display: block;
    }
}

@media(min-width:769px){
    /*de momento no utilizo esto por que pide los cambios tanto en desktop como en tablet*/
}
