.footer{
    background-color: white;
}

.footer #iconsfooter{
    margin: 10% auto 10px 45%;
    color: var(--celeste);
    font-size: 2em;
}

.footer div section h4{
    text-align: center;
}

.footer .descrip{
    text-align: center;
    font-size: 16px;
}

.footer .copyright{
    margin-top: 5%;
    font-size: 12px;
    color: var(--grisoscuro);
    background-color: white;
    margin-left: 5%;
}

@media(min-width:769px){

    .footer div {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .footer #iconsfooter{
        margin: 0 auto;
    }
    .footer div section{
        width: 30%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}